<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h3 class="my-0 mr-md-auto font-weight-normal" style=color:brown>Sports News </h3>
    <button type="button" class="btn btn-dark">Back</button>
</div>

<div class="container" >
    <div class="row" *ngFor="let item of sportnewsList">
        <div class="card">
            <div class="media">
                <img class="align-self-start mr-3"
                    src="https://image.shutterstock.com/image-vector/american-football-ball-realistic-icon-600w-1669938490.jpg"
                    alt="Generic placeholder image">
                <div class="media-body">
                    <h4 class="mt-0">{{item.title}}</h4>
                    <p>
                        {{item.description}}
                    </p>
                    <p>
                        <strong>Published At :</strong> {{item.publishedAt}} 
                        <button [routerLink]="['/viewSportNews', item.id]" id="x" class="btn btn-info" >More..</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> 
