<div class="container">

    <div class="card" style="width: 100%;">
        <div class="card-hearder">
            <h5 class="card-title" style="text-align: center;"> {{ title }} </h5>
        </div>
        <div class="card-body">
            <img src="https://images.unsplash.com/photo-1586894172418-c7e4c755e1ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=979&q=80"
                class="card-img-top" alt="...">
            <p class="card-text"> {{description }} </p>
            <p class="card-text"><small class="text-muted">Published At: {{publishedAt}}</small></p>

</div>

