<div class="slideshow-container">

<div class="mySlides" id="slide1">
  <div class="numbertext">1 / 3</div>
  <img src="../../../../assets/photos/ryoji-iwata-a-qsFZimp1M-unsplash.png" style="width:100%">
  <div class="text">Get Relevant News 24/7</div>
</div>

<div class="mySlides" id="slide2">
  <div class="numbertext">2 / 3</div>
  <img src="../../../../assets/photos/adeolu-eletu-E7RLgUjjazc-unsplash.png" style="width:100%">
  <div class="text">Society Would Collapse Without Us</div>
</div>

<div class="mySlides" id="slide3">
  <div class="numbertext">3 / 3</div>
  <img src="../../../../assets/photos/lora-ohanessian-16rIhtV42yA-unsplash.jpg" style="width:100%">
  <div class="text">Print News Is Dead</div>
</div>

<a class="prev" (click)="plusSlides(-1)">&#10094;</a>
<a class="next" (click)="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" (click)="currentSlide(1)"></span>
  <span class="dot" (click)="currentSlide(2)"></span>
  <span class="dot" (click)="currentSlide(3)"></span>
</div>

