<div class="row">
    <div class="col-sm-3">
        <div class="card text-center">
            <h5 class="card-header">Weather</h5>
            <div class="card-body">
                <p>{{weather}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-center">
            <h5 class="card-header">Icon</h5>
            <div id="icon" class="card-body"><img src={{iconurl}}></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-center">
            <h5 class="card-header">Temp</h5>
            <div class="card-body">
                <p>{{temp}} &deg;F</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-center">
            <h5 class="card-header">City</h5>
            <div class="card-body">
                <p>{{city}}</p>
            </div>
        </div>
    </div>