<div class="row" >
    <div class="card lll" style="width: 97%;">
        <div class="card-header">
            <h5>Weather in {{city}}: <strong>{{weather}}</strong></h5>
        </div>
        <div class="card-body">
            <div id="wethr">
                <div class="card" style="width: 90px;"><img  src={{iconurl}}></div>
                <p> <span><strong>Temparature :</strong> {{"   "+temp}} &deg;F</span>
                <span>,&emsp; <strong> Feels Like:</strong> {{"   "+feels}} &deg;F</span>
                <br>
                <span id="l"><strong>Max Temp: </strong> {{"   "+maxTemp}} &deg;F,  <strong> Min Temp: </strong>{{"   "+minTemp}} &deg;F</span>
                </p>

            </div>
            
        </div>
    </div>
</div>