h5{
    text-align: center;
}

.card {
    width: 100%;
    margin: auto;
}
#wethr {
    text-align: center;
}
.card-header{
    color: white;
    background: #063646 ;
}
.card-body {
    background-color: #54d4ff;
    color: black;
}